# Ignore everything
*
.gsd-keyboard.settings-ported/

# But NOT these files (unignore them)

!zsh/
!zsh/**
!alacritty/
!alacritty/**
!kitty/
!kitty/**
!copyq/
!copyq/**
!flameshot/
!flameshot/**
!i3/
!i3/**
!lf/
!lf/**
!anifetch/
!anifetch/**
!dunst/
!dunst/**
!vlc/
!vlc/**
!.config/
!.config/**
!.config/nvim/
!.config/nvim/**
!polybar/** 
!polybar/
!polybar-themes/** 
!polybar-themes/
!polypomo/